<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Book</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<a class="btn btn-primary" href="/homepage/searchByAuthor" role="button">Search By Author</a>
<a class="btn btn-primary" href="/homepage/searchByTitle" role="button">Search By Title</a>
<a class="btn btn-primary" href="/homepage/searchByGenre" role="button">Search By Genre</a>
<a class="btn btn-primary" href="/homepage/searchByISBN" role="button">Search By ISBN</a>
</body>
</html>